h1{
    
    color: rgb(3, 0, 0);
    
    font-family: 'Roboto', sans-serif;
    font-size: 50p;
}
.new{
    color: crimson;
}
section{
    display:flex;
}
body{
    background-color: bisque;
    margin: 0px;
}
.orange{
    width:50%;
    padding:5%;
}
.orange img{
    width: 100%;
}
.fave{
   background-color: blue;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    color: aliceblue;
    font-weight: 700;
    
}
.mongo{ 
    background-image:url(images/top-banner.png);
    background-repeat:no-repeat;
    margin:0;
     
}